<!doctype html>
<html>
    <head>
        <title>Customer Support Admin</title>
        <style type="text/css">
            body {
                font-family:sans-serif;
            }
            table {
                border:solid 1px #aaa;
                width:100%;
            }
            td,th {
                padding:10px;
                border:solid 1px #555;
            }
            input[type=submit] {
                border:solid 1px #555;
                background-color:#ddd;
                font-size:1em;
            }
        </style>
        <script type="application/javascript">
            setTimeout(function() {
                document.location.reload(true);
            }, 10000);
        </script>
    </head>
    <body>
        <h1 style="text-align:center;">Customer Support Admin</h1>

        <table>
            <tr>
                <th>Ticket ID</th>
                <th>Customer Phone</th>
                <th>Messages</th>
            </tr>
            <% tickets.each do |ticket| %>
            <tr>
                <td><%= ticket[:shortId] %></td>
                <td><%= ticket[:number] %></td>
                <td>
                    <ul>
                    <% ticket[:messages].each do |message| %>
                        <li><strong><%= message["direction"] %>:</strong> <%= message["content"] %></li>
                    <% end %>
                    </ul>
                    <form action="/reply" method="post">
                        <input type="text" name="content" placeholder="Write a reply ..." />
                        <input type="hidden" name="id" value="<%= ticket[:_id] %>" />
                        <input type="submit" value="send" />
                    </form>
                </td>
            </tr>
            <% end %>
        </table>

        <p style="text-align:center;">A sample application brought to you by <a href="https://developers.messagebird.com/">MessageBird</a> :)</p>
    </body>
</html>
